<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentfinder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:roundIcon="@id/none"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rentfinder">
        <activity android:name=".housedetail"></activity>
        <activity android:name=".dashboard" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity android:name=".getstart" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>